<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <br>
            <form id="channel_entry">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-center lead text-dark">Channel Data Entry</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>Date:</p>
                    </div>
                    <div class="col-lg-6">
                      <input type="date" class="form-control" placeholder="Enter date" name="date">
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-outline-primary">Fill Data</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>Video Count:</p>
                    </div>
                    <div class="col-lg-10">
                      <input type="number" class="form-control" placeholder="Number of videos" name="videos">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>Subscribers:</p>
                    </div>
                    <div class="col-lg-10">
                      <input type="number" class="form-control" placeholder="Number of subscribers" name="subscribers">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>Watch hours:</p>
                    </div>
                    <div class="col-lg-10">
                      <input type="number" class="form-control" placeholder="Total of watch hours" name="watch_hours">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-outline-success">Save</button>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </form>

        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>